body {
    margin: 0;
    padding: 1em;

    background-color: #300;
    color: #fff;

    font-family: 'Inter', 'Verdana', 'Geneva', 'Tahoma', sans-serif;

    text-align: center;
    overflow-x: hidden;

    height: calc(100vh - 2em);
}

h1#companyName {
    font-weight: 400;
    font-size: 8vw;
    padding: 0;
    user-select: none;
}

h1#companyName span.bold {
    font-weight: 900;
}

h1#companyName span.circle {
    background-color: #fff;
    color: #300;
    border-radius: 100%;
}

p#clickText {
    text-transform: lowercase;
    color: #fff;
    opacity: 0.5;
    user-select: none;
}

body:active p#clickText {
    opacity: 1;
}

p#omgItsMe {
    position: fixed;
    bottom: 8px;
    right: 16px;
    text-transform: lowercase;
    user-select: none;
}

p#omgItsMe a {
    color: inherit;
    text-decoration: underline;
}

p#omgItsMe a:hover {
    text-decoration: none;
}

p#omgItsMe a:focus {
    border: 2px solid yellow;
}

@media screen and (max-width: 1200px) {
    h1#companyName {
        font-size: 9vw;
    }
}


/*
from tailwind
https://tailwindcss.com/docs/screen-readers
*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}